body{
    background-color: powderblue;
    
}
html{
    margin:50px;
}


h1{
    color:black; 
    font-size:1.9em; 
    font-family: Verdana, sans-serif;
    
}
h2{
    color:black; 
    font-size:1.9em; 
    font-family: Verdana, sans-serif;
    clear: both;
    
}
div.sida{
    background-color: darkgrey;
}


p{
    font-family: Verdana, sans-serif;
    font-size: 1.5em;
}
p.meny_aktiv{
    font-family: Arial, sans-serif;
    font-size: 2em;
    background-color: skyblue;
    padding: 25px;
   
    
   
}
p.meny_valbar{
    font-family: Arial, sans-serif;
    font-size: 2.0em;
    background-color: skyblue;
    padding: 15px;
    
}
a.meny{
    text-decoration:none;
    color:black;
    
    
}
.indent{
    margin-left: 20em;
    
}

img{margin: 5pt;
    float: center;
    
}
table.statistik{
    border: 2px;
    align-content: center;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
th.statistik{
    font-family: Arial, sans-serif;
    font-size: 1.1em;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px
}


td.statistik{
    border: 1px;
    font-family: Arial, sans-serif;
    font-size: 1.0em;
    background-color: #darkblue;
    
}

img{
    width: 40%;
    
    
    
}


ul{
font-family: verdana;
font-size: 2.0em;


} 

nav{
 background-color: blue;
    padding:2.0px;
   
    margin-bottom: -5px;
    margin-top: -50px; 
    margin-left: -58px;
    margin-right: -58px;
    
}

th { 
  font-size: 2.0em;
}



 


 
